* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
main {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  background: transparent;
  padding: 12px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
button:focus {
  background: #eee;
}
button:hover {
  color: #08f;
}
h1 {
  font-size: 18px;
}
.dropzone {
  width: 90vw;
  height: 90vh;
  max-width: 600px;
  max-height: 480px;
  border: 1px dashed #ccc;
  padding: 40px;
  text-align: center;
  cursor: pointer;
}
.dropzone:hover {
  background-color: #eee;
}
.dropzone.success {
  background-color: rgb(194, 237, 191);
}
.dropzone.fail {
  background-color: rgb(247, 189, 176);
}
.editor {
  display: contents;
}
.editor .play-control button {
  border-radius: 50%;
  margin-right: 12px;
}
.editor .play-control {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 20px;
}
.editor > .canvas {
  flex: 1 1 100vh;
  width: 100%;
  overflow: hidden;
}
.editor > .menu {
  width: 100%;
  display: flex;
  justify-content: end;
}
.popup {
  position: absolute;
  background: #fff;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.5);
  padding: 20px;
  top: 52px;
  right: 12px;
}
